body {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center; 
	background-image: url(background.png);
}

.well-curs {
	margin-top: 30px;
}

.title {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	font-size: 300%;
	color: #fff;
	font-weight: 600;
	text-shadow: 2px 2px 2px #000000;
}